<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Snipshot Bug Report</string>
    <key>CFBundleDisplayName</key>
    <string>Snipshot Bug Report</string>
    <key>CFBundleIdentifier</key>
    <string>com.meeseek.snipshot-bug</string>
    <key>CFBundleVersion</key>
    <string>15</string>
    <key>CFBundleShortVersionString</key>
    <string>0.9.5</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Snipshot</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Snipshot Bug Report needs screen recording permission to capture screenshots.</string>
    <key>SUFeedURL</key>
    <string>https://update.snipshot.click/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>QWuwos6tQwlUmA2EwPqsBAv3EMas9lUQWCwNbNygHyQ=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>3600</integer>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.meeseek.snipshot-bug.oauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>snipshot</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
